div#main{
	/*background-color: blue;*/
}
.error{
	color:red;
}
.success, div#message{
	color:green;
}
table, td, th {
  border: 1px solid;
}
th{
	font-weight: bold;
}
table {
	width: 30%;
  border-collapse: collapse;
}